.primary-bg {
  background-color: #ea4c89;
}

.black-bg {
  background-color: #0d0c22;
}

.white-bg {
  background-color: white;
}

.grey-bg {
  background-color: #f3f3f6;
}

.primary-txt {
  color: #ea4c89;
}

.black-txt {
  color: #0d0c22;
}

.white-txt {
  color: white;
}

.grey-txt {
  color: #3d3d4e;
}
