body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image:linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.6)) , url(../media/Avg.jpg) ;
}

.chat-container {
    width: 400px;
    max-width: 90%;
    margin: 50px auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.chat-header {
    background: #ff003c;
    color: #fff;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

.chat-box {
    height: 300px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 10px 10px;
}

.chat-message {
    margin: 10px 0;
}

.user-message {
    text-align: right;
}

.bot-message {
    text-align: left;
}

.chat-input {
    display: flex;
    padding: 10px;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chat-input button {
    padding: 10px 15px;
    background: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chat-input button:hover {
    background: #b30000;
}